av==10.0.0
-e git+https://github.com/NM-TAFE/diploma-project-drone-swarm.git@e82d8cc6344cb09679ee98931f37f100d694b005#egg=djitellopy&subdirectory=djitellopy
numpy==1.24.3
opencv-python==4.7.0.72
Pillow==9.5.0

fastapi~=0.95.2
setuptools~=59.6.0
requests~=2.31.0
